https://pypi.tuna.tsinghua.edu.cn/simple/
http://mirrors.aliyun.com/pypi/simple/
http://pypi.mirrors.ustc.edu.cn/simple/
http://pypi.hustunique.com/
http://pypi.douban.com/simple/
http://mirrors.cloud.tencent.com/pypi/simple
https://repo.huaweicloud.com/repository/pypi/simple
https://mirror.baidu.com/pypi/simple


